body {
    /* your styles here */
  }
  
  h1, #designed-by {
    /* your styles here */
  }
  
  .style1 {
    background-color: #CDE6F5;
  }
  
  .style2 {
    background-color: #8DA7BE;
  }
  
  .style3 {
    background-color: #554640;
  }
  
  .style4 {
    background-color: #87919E;
  }
  
  .style5 {
    background-color: #707078;
  }
  
  .style6 {
    background-color: #9B9A9A;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }